:root {
    --main-color: #313338;
    --side-bg-color: #2B2D31;
    --main-font-color: #C7CBCD;
    --hover-color: #5865F2;

    --label-input: #383A40;
    --label-text: #DBDEE1;
    --label-text-placeholder: #797c83;
    --label-focus: #393B48;

    --button-color: #484A51;
    --button-hover-color: #62646C;
    --button-tooltip-color: #111214;
    --button-tooltip-text-color: #D5D8DC;
}

body {
    background-color: var(--main-color);
    margin: 0;
    color: var(--main-font-color);
    font-family: 'Kufam-Regular', sans-serif;
    overflow: hidden;
}

#horizontal-nav {
    background-color: var(--side-bg-color);
}

.hide-content {
    display: none !important;
}

.card-submit-button {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--main-font-color);
    cursor: pointer;
    text-decoration: none;
    border-radius: 15px;
    font-size: 1em;
    letter-spacing: 1px;

    padding-top: 3%;
    padding-bottom: 3%;
    transition: border-radius 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
}

.card-submit-button:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    border-radius: 8px;
}

@font-face {
    font-family: 'Kufam-Regular';
    src: url('/src/assets/fonts/kafum/Kufam-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Definição da animação */
@keyframes stylishFadeIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    50% {
        transform: translateY(10px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.stylish-appear {
    animation: stylishFadeIn 0.2s ease-out;
    will-change: transform, opacity;
}

/* Boostrap overlay */
.form-select,
.form-control {
    background-color: var(--label-input);
    border: var(--label-input);
    color: var(--label-text);
}

.form-control:focus,
.form-select:focus {
    background-color: var(--label-focus);
    border-color: var(--label-input-focus-border);
    color: var(--label-text-focus);
}

.form-control::placeholder,
.form-select::placeholder {
    color: var(--label-text-placeholder);
}

.btn-primary {
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-radius: 5px;
    margin: 0rem 0.25rem;
}

.btn-primary:hover {
    background-color: var(--button-hover-color);
    border-color: var(--button-hover-color);
}